<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Bewertung bearbeiten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Bewertung bearbeiten</h1>
    <a href="{{ url_for('dashboard') }}" style="color:white;">Zurück</a>
</header>

<div class="card">
<h3>Bewertung abgeben</h3>

<form method="post">

<label>Verständlichkeit</label>
<input type="range" min="1" max="5" step="0.5" name="verstandlichkeit" required
       value="{{ bewertung.verstandlichkeit }}">

<label>Fairness</label>
<input type="range" min="1" max="5" step="0.5" name="fairness" required
       value="{{ bewertung.fairness }}">

<label>Sympathie</label>
<input type="range" min="1" max="5" step="0.5" name="sympathie" required
       value="{{ bewertung.sympathie }}">

<label>Organisation</label>
<input type="range" min="1" max="5" step="0.5" name="organisation" required
       value="{{ bewertung.organisation }}">

<label>Fachwissen</label>
<input type="range" min="1" max="5" step="0.5" name="fachwissen" required
       value="{{ bewertung.fachwissen }}">


<textarea name="kommentar" placeholder="Kommentar..."></textarea>

<button type="submit" onclick="this.disabled=true; this.innerText='Wird gesendet…'; this.form.submit();">
    Absenden
</button>

</form>
</div>

</body>
</html>
